.video-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .images {
  display: flex;
  justify-content: center;
}



.btn{
  background-color: #946659;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  height: 40px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.btn:hover{
  background-color: #e95930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bio-image  img{
  margin-top: -100px;
}

.bio-image2  img{
  margin-right: 150px;
  width: 40%;
}

.storyqaq-container {
  display: flex;
  justify-content: space-between;
}

.texvert-container {
  width: 50%;
  margin-top: 10px 20px;
  margin-left: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  margin-bottom: 1px;
}

.abcd{
  margin-left: 60px;
  margin-top: -150px;
}

.xbcd{
  margin-right: 250px;
  font-size: 14px;
  margin-top: -150px;
}

.xyz{
  margin-left: 290px;
}

.btn123{
  background-color: #946659;
  color: white;
  padding: 10px 70px;
  border: none;
  border-radius: 3px;
  height: 50px;
  cursor: pointer;
  margin-left: 280px;
  margin-top: 30px;
  transition: background-color 0.3s ease;

}

.btn123:hover{
  background-color: #e95930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
  margin-left: 200px;
  font-size: 25px;
  font-style: italic;
}

.text-bio-2{
  width: 40%;
  line-height: 30px;
  margin-top: -100%;
  font-size: 17px;
  margin-right: 10%;
  float: right;
}

.text-header{
  margin-bottom: 50px;
}

.text-header12{
  margin-bottom: 500px;
}

.Persol{
  margin: 15%;
  margin-top: 130px;
}

.newbook{
  text-align: center;
  margin-top: 150px;
}

.bookimage{
  width: 300px;
  height: 300px;
}

.booktext{
  margin-left: 150px;
  margin-top: 5px;
}

.bookstar {
  font-size: 30px;
  margin-left: 120px;
  margin-top: -10px;
}

.star-container {
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s;
}

.star-container:hover .star {
  color: yellow;
}

.star {
  color: rgb(7, 7, 7)
}

.horizontal-counters {
  display: flex;
}

.green-container {
  background-color:#946659;
  height: 300px;
  margin-top: 150px;
}

.horizontal-counters > div {
  margin-left: 250px;
  padding: 10px;
  margin-top: 60px;
  color: aliceblue;

}

.BookImg img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 80px;
}

.BookImage img{
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin-right: 50px;
}

.pp{
  margin-left: 450px;
  font-size: 20px;
}

.pr{
  margin-left: 250px;
}

.rr{
  margin-left: 650px;
  font-size: 20px;
}

.rp{
  margin-left: 150px;
}

.read{
  width: 180px;
  background-color: #946659;
  height: 60px;
  border-radius: 25px;
  margin-left: 850px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;

}
.read:hover {
  background-color: #e95930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.ebook img{
  height: 300px;
  width: 550px;
}
.downlodbook{
 margin-top: 60px;
}
.icon-downlod{
  color: #071230;
  font-size: 40px;
}
.button{
  width: 180px;
  background-color: #946659;
  height: 60px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #e95930;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
  height: 550px;
  width: 950px;
  border-radius: 40px;
  background-color: #946659;
  margin-top: 190px;
  color: white;
}
.abcdP{
  margin-top: -520px;
  margin-left: 335px;
  color: white;
  font-size: 30px;
}
