.heding{
  text-align: center;
  font-size: 33px;
  margin-right: 250px;
}

.line-1{
  text-align: center;
  margin-left: 20px;
}

.mail{
  text-align: center;
  color: brown;
  margin-right: 250px;
}

.msg{
  text-align: center;
  color: brown;
  font-size: 25px;
  margin-top: 50px;
  margin-right: 250px;
}

.input {
  width: 600px;
  height: 35px;
  margin-left: 500px;
  margin-top: 10px;
}

input:hover{
  border-style: dotted;

}
.text {
  width: 600px;
  height: 56px;
  margin-left: 500px;
  margin-top: 10px;
}

.Button{
  background-color: #946659;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 10px;
}

.follow{
  color: brown;
  font-size: 22px;
  margin-left: 500px;
}

