
.banner-image img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.book-details {
  margin-top: 20px;
  border-collapse: collapse; /* Collapse borders between table cells */
  width: 80%;
}

.book-details td {
  padding: 8px; /* Add padding around table cells */
  border-bottom: 1px solid #ddd; /* Add bottom border to separate rows */
}

.book-details tr:last-child td {
  border-bottom: none; /* Remove bottom border from the last row */
}

.book-details td:first-child {
  font-weight: bold; /* Make the first column bold */
}

.book-details td:nth-child(2) {
  text-align: left; /* Align text in the second column to the left */
}

.book-image img,h2{
  float: right;
  margin-right: 98px;
  margin-top: -9%;
}
.book-image h2{
  float: right;
  margin-top: -11%;
}
