/* ShowBook.css */
.image-banner {
  width: 300px; /* Adjust width as desired */
  height: 400px; /* Adjust height as desired */
}

.image-banner img {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: 100%; /* Ensure the image takes up the full height of its container */
  object-fit: cover; /* Ensure the image covers the entire container */
}
