.product-container {
  display: flex;
  justify-content:  space-around;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
}

.product{
  width: 300px;
  height: 400px;
}

.productSecond{
  margin-right: 100px;
}

.product-text {
  font-size: 26px;
  text-align: center;
}

.product-container .product-text img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.product-container .product-text img:hover {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

