.product-container {
  display: flex;
  justify-content:  space-around;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
}

.product{
  width: 300px;
  height: 400px;
}

.productSecond{
  margin-right: 100px;
}

.product-text {
  font-size: 26px;
  text-align: center;
  margin-top: 500px;
}

